h1{
    color: #48D1CC ;
    margin : 1em 2em 1em 4em
}

h2{
    color: #B0E0E6 ;
    
}

p.note{
    border: gray;
    margin: 3em 6em;
    padding: 0.5em;
    background-color: #FFFF99;
    font-size: small;
    border-width: thin;
}
